@model CarrinhoCompraViewModel

@{
    ViewBag.QuantidadeProdutos = 0;
}

<div class="row">
   <div class="col-12 col-md-12 col-lg-12 shadow p-5" style="border-radius: 40px /*border-radius: 40px 0 0 40px*/">
       <h3>Seu Carrinho de Compras</h3>
       <hr />
        <table class="table mt-2">            
            <tbody>
                @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItems)
                {
                    <tr class="align-middle">
                        <td><img src="@item.Lanche.ImagemUrl" width="100" height="100" style="object-fit: cover" /></td>
                        <td class="text-center">@item.Lanche.Nome</td>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-center">@((item.Quantidade * @item.Lanche.Preco).ToString("c"))</td>
                        <td class="text-center">
                            <a class="text-decoration-none text-danger" asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" asp-route-lancheId="@item.Lanche.LancheId">
                                x
                            </a>
                        </td>
                    </tr>
                    ViewBag.QuantidadeProdutos += item.Quantidade;
                }
            </tbody>
        </table>
        <div class=" d-flex justify-content-between mx-1 mb-2">
            <h6>Quantidade de Produto(s): @ViewBag.QuantidadeProdutos</h6>
            <h6 style="font-size: 18px">Preço total @Model.CarrinhoCompraTotal.ToString("c")</h6>
        </div>               
         <div class="d-flex justify-content-between">
            <a class="btn btn-outline-info" style="" asp-controller="Lanche" asp-action="List">Continuar Comprando</a>
            @if (ViewBag.QuantidadeProdutos <= 0 )
            {
                <a class="btn btn-success disabled">Encerrar Pedido</a>
            }
            else
            {
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            }
         </div>
   </div>
   @* <div class="col-4 col-md-4 col-lg-4 shadow p-5" style="background-color: #eee; border-radius: 0 40px 40px 0">
        <h3>Súmario</h3>
        <hr />
        <div>
            <h6>@ViewBag.QuantidadeProdutos produto(s)</h6>
        </div>
   </div>*@
</div>