@model Pedido

<div class="container">
    <div class="card shadow p-3 mt-5" style="border-radius: 40px">
        <div class="card-body">
            <h2 class="card-title">@ViewBag.CheckoutCompletoMensagem</h2>
            <hr />
            <p></p>
            <p>Cliente: <strong>@Model.Nome</strong></p>
            <p>Data do Pedido: <strong>@Model.PedidoEnviado</strong></p>
            <p>Número do Pedido: <strong>@Model.PedidoId</strong></p>

            <table class="table">
                @foreach (var item in Model.PedidoItens)
                {
                    <tr class="align-middle">
                        <td><img src="@item.Lanche.ImagemUrl" width="100" height="100" style="object-fit: cover" /></td>
                        <td class="text-center">@item.Lanche.Nome</td>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-center">@((item.Quantidade * @item.Lanche.Preco).ToString("c"))</td>
                    </tr>
                }
            </table>
            
            <div class="d-flex justify-content-between" style="text-align: center">
                <h4>Valor Total do Pedido: <strong>@(((decimal)ViewBag.TotalPedido).ToString("C2"))</strong></h4>
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Retornar para o menu principal</a>
            </div>
        </div>
        
    </div>
</div>
