@model Lanche

<div class="d-flex align-content-center justify-content-center">
    <div class="card shadow border-0 p-3 rounded" style="width: 30rem;">
        <div>
            <img src="@Model.ImagemUrl" class="card-img-top mt-1 pt-2 rounded" style="object-fit:cover;" alt="@Model.Nome - Img" width="225" height="300">
        </div>
        <div class="card-body d-flex flex-column">
            <h5><a class="card-title" style="text-decoration: none; color: #000000; font-weight:bold" asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">@Model.Nome</a></h5>
            <p></p>
            <h6 class="card-subtitle mb-2 text-muted">R$ @Model.Preco</h6>
            <p class="card-text">@Model.DescricaoDetalhada</p>
            <div class="btn-group mt-auto">
                <a class="btn btn-outline-info me-3" asp-controller="Lanche"
                   asp-action="List">
                    Ver todos os lanches
                </a>
                <a class="btn" style="background-color:#ff1522; color:#fff;" asp-controller="CarrinhoCompra"
                   asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@Model.LancheId">
                    Adicionar @Model.Nome ao carrinho
                </a>
            </div>
        </div>
    </div>
</div>